{application, erlybullet,
 [{description, "Erlang/Bullet physics interface"},
  {vsn, "0.0.1"},
  {modules, [@@MODULES@@]},
  {registered,[]},
  {applications, [kernel, stdlib, sasl]},
  {included_applications, []},
  {mod, {erlybullet_app,[]}},
  {start_phases, []}  
]}.
